<div class="content">

  <div class="navbarCustom navbar-fixed">
    <nav>
      <div class="nav-wrapper grey darken-4 ">
        <a href="#" class="brand-logo light-green-text text-accent-1">{{title}}</a>
        <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['home']" class="waves-effect waves-light light-green-text text-accent-1">{{navBar.home}}</a></li>
          <li><a [routerLink]="['leaderboards']" class="waves-effect waves-light light-green-text text-accent-1">{{navBar.leaderboards}}</a>
          </li>
          <li><a [routerLink]="['forums']" class="waves-effect waves-light light-green-text text-accent-1">{{navBar.forums}}</a></li>
          <li><a [routerLink]="['support']" class="waves-effect waves-light light-green-text text-accent-1">{{navBar.support}}</a></li>
          <li><a [routerLink]="['e-store']" class="waves-effect waves-light light-green-text text-accent-1">{{navBar.eStore}}</a></li>

        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
      <router-outlet></router-outlet>

  </div>
</div>
