<div class="content">

<div class="navbarCustom navbar-fixed">
<nav>
  <div class="nav-wrapper grey darken-4 ">
    <a href="#" class="brand-logo light-green-text text-accent-1">EmpireCraft</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#" class="waves-effect waves-light light-green-text text-accent-1">Home</a></li>
      <li><a href="#" class="waves-effect waves-light light-green-text text-accent-1">Leaderboards</a></li>
      <li><a href="#" class="waves-effect waves-light light-green-text text-accent-1">Forums</a></li>
      <li><a href="#" class="waves-effect waves-light light-green-text text-accent-1">Support</a></li>
      <li><a href="#" class="waves-effect waves-light light-green-text text-accent-1">E Store</a></li>

    </ul>
  </div>
</nav>
</div>
</div>
